:root {
    box-sizing: border-box;
    line-height: 1.4;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    --color-bg: #fefbf1;
    --color-text: #111111;
    --padding-base: 0.3rem;
    --margin-base: 0.3rem;
    --border-base: 1px solid #dddddd;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 var(--margin-base) 0;
    padding: 0;
    font-weight: normal;
}

h3 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    font-size: 0.9rem;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: Arial, sans-serif;
    margin: var(--margin-base);
    font-size: 1rem;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    padding: 0.5rem;
    overflow: auto;
}

.hidden {
    display: none;
}


main {
    padding: var(--padding-base) 0 var(--padding-base) 0;
}

.logo img {
    display: block;
    border: 0;
    outline: none;
    text-decoration: none;
    height: auto;
}

table {
    border-spacing: 0;
    border: var(--border-base);
}

tr {
    width: 100%;
}

td, th {
    padding: var(--padding-base);
    margin: var(--margin-base);
    border: var(--border-base);
    white-space: nowrap;
}

